{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %} 
<!doctype html>
 <html lang="en" dir="{%if LANGUAGE_BIDI %}rtl{%else%}ltr{%endif%}"> 
  <!--<html lang="en"> -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    

    <title>{% translate "hello" %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">item</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                language
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}  
              {% get_language_info_list for LANGUAGES as languages %}
           

              {% for lang in languages %}
                 <li>
                 <a class="dropdown-item" href="/{{lang.code}}/">
                    {{lang.name_local}}
                 </a>
                 </li>
                  
              {% endfor %}
              <li><a class="dropdown-item" href="#">Action</a></li>

              </ul>
            </li>
            </ul>
          </div>
      </div>
    </nav>
   <div class="container">
     <p> {% translate "hello" %}</p>
 
    
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/b‏> -->
  </body>
</html>